@theme {
  --color-Orange: oklch(72.79% 0.1848 50.15);
  --color-Pale-orange: oklch(95.73% 0.0258 57.99);
  --color-Very-dark-blue: oklch(24.18% 0.0118 264.33);
  --color-Dark-grayish-blue: oklch(54.25% 0.0227 262.93);
  --color-Grayish-blue: oklch(79.51% 0.018 264.47);
  --color-Light-grayish-blue: oklch(98.05% 0.0065 268.74);
  --color-White: oklch(100% 0 0);
  --color-Black-opacity: oklch(0% 0 0 / 10.77%);

  --font-display: "Kumbh Sans", "sans-serif";
}
